.history{
  padding:15px;
}

.history h2{
  margin-bottom: 15px;
}

.delhistory{
  cursor:pointer;
  float:right;
}

.history-result{
  clear:right;
  flex-wrap:wrap;
  gap:10px;
  align-items:flex-start;
  justify-content: space-between;
  margin-top:20px;
  font-size:20px;
  overflow-wrap: break-word;
}

.history-result img{
  flex:1 1 0;
  min-width: 200px;
  object-fit: cover;
  aspect-ratio: 1.78;
  border-radius: 10px;
}

.history-result .text{
  
  min-width: 200px;
  flex:1 1 0;
}

.history-result h4{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; 
 
}


.history-result .text p:not(:first-of-type){
  font-size: .65em;
}

.history-result .channelname{
  margin:1em 0; 
 }

@media (max-width:1000px){
  

  .history-result{
  
    font-size:17px;
  
  }

}

@media (min-width: 900px) {
  .history-result .text {
    flex: 2; 
  }
}



@media (max-width:700px){
  
  .history-result{
  
    font-size:14px;
  
  }
  .history-result .channelname{
    margin:.7em 0; 
   }

   .delhistory{
    font-size: 16px;
   }
}


@media (max-width:500px){
  .history-result{
  
    font-size:12px;
  
  }

 .history-result .channelname{
    margin:.4em 0; 
   } 

   .delhistory{
    font-size: 14px;
   }
}